<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anuja.checkit">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/launcher_pic"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/launcher_pic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Notes"
            android:label="@string/title_activity_notes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Collections" />
        <activity android:name=".ToDo" />
        <activity android:name=".DailyLog"></activity>
    </application>

</manifest>